.operations_container {
  max-width: 100%; /* Adjust to fit smaller screens */
  margin: 15px auto;
  padding: 10px; /* Reduce padding for smaller screens */
  width:80%;
}

.amountMoney_header {
  font-size: 28px; /* Adjust font size for smaller screens */
  font-weight: bolder;
  margin-bottom: 5px; /* Reduce margin for smaller screens */
  text-align: center; 
  color: #945202; /* Gold */
}

.operations_header {
  font-size: 24px; /* Adjust font size for smaller screens */
  margin-top: 5px; /* Reduce margin for smaller screens */
  margin-bottom: 5px; /* Reduce margin for smaller screens */
  text-align: center; 
  color: #ffd700; /* Gold */
}

/* Main container with flex layout */
.main_container {
  display: flex;
  flex-direction: column; /* Stack sections vertically on smaller screens */
  gap: 10px; /* Reduce gap for smaller screens */
  margin-top: 30px; /* Adjust margin for smaller screens */
}

.left_section {
  width: 100%; /* Take up full width on smaller screens */
}

.sorting_section {
  margin-bottom: 35px; /* Reduce margin for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.sorting_section label {
  font-weight: bold;
  margin-right: 5px;/* Remove right margin on smaller screens */
  color: #808080; /* Grey */
  font-size: 24px; /* Enlarge the cube of sortingCriteria , Adjust font size for smaller screens */
}

.sorting_section select {
  padding: 10px; /* Increase padding for larger cube size */
  font-size: 20px; /* Enlarge the cube of sortingCriteria */
  border-radius: 10px; /* Increase border-radius for rounded corners */
  background-color: #eaeaea;
  color: #794a26;
}

.sorting_section select:hover {
  background-color: #d4d4d4;
}

.sorting_section select option {
  background-color: #f2f2f2;
  color: #794a26;
}

.sorting_section select option:hover {
  background-color: #e0e0e0;
}

.right_section {
  width: 100%; /* Take up full width on smaller screens */
  text-align: center; 
}
.operations_list_user {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.operation_item {
  background-color: #f2f2f2;
}

.operation_item td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: top;
}

.greenText {
  color: #018d65;
}

.redText {
  color: #ed0057;
}
