*{
  font-size: 20px;
}

.menuDiv {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color:rgb(255, 194, 41);
  color: black;
  font-weight: 500;
}
.material-symbols-outlined {
  font-weight: bold;
}
.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 70px;
  margin-left: 30px;
}

.menu {
  display: none;
}

.menu.show {
  display: block;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex; /* Add this line to make the <li> elements flex items */
  flex-direction: row; /* Default to column for smaller screens */
}

.menu li {
  margin: 10px 20px;
}

.menu div {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 1.5rem;
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: color 0.3s;
}

.menu a:hover {
  font-size: 22px; /* Increase font size on hover */
}


@media only screen and (max-width: 1200px) {
  .menu ul {
    list-style: none;
    padding: 0;
    display: flex; /* Add this line to make the <li> elements flex items */
    flex-direction: column; /* Default to column for smaller screens */
  }
}
@media (max-width: 768px) {

  .menuDiv{
    margin-bottom:60px;
  }

  .menu-icon {
    font-size: 3rem;
  }

  .menu {
    position: absolute;
    top: 70px; /* Adjust the top position as needed */
    left: 0;
    width: 100%;
    background-color: goldenrod;
    z-index: 1;
    text-align: center;
  }

  .menu ul {
    padding: 20px;
  }

  .menu li {
    margin: 20px 0;
  }
 
}
